*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: rgb(180,208,231);
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.nav-bar-container{
    background-color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    position: fixed;
    top: 0;
}

.nav li{
    padding: 0 15px;
}

.flex-center{
    display: flex;
    align-items: center;
}

.button-layout{
    padding: 10px 15px;
    background-color: rgb(0,97,255);
    color: white;
    border: none;
    font-size: 1.1rem;
}

.container-top{
    width: 80%;
    margin: auto;
    margin-top: 71px;
    padding: 30px 30px 0 30px;
}

.container-top h1{
    font-size: 5rem;
}

.img-text{
    margin-top: 70px;
}

.text-left{
    flex-basis: 25%;
    line-height: 25px;
}

.image-right{
    flex-basis: 75%;
}

.image-right img{
    width: 100%;
}

.text-left button{
    margin: 40px 0;
}

.text-left i{
    font-size: 50px;
    margin-top: 150px;
}
/* FINE HEADER INIZIO MAIN */

.container-center{
    width: 60%;
    margin: auto;
    margin-top: 71px; 
}

input{
    height: 20px;
    width: 20px;
}

.option-movement{
    padding-right: 20px;
}

.option-movement{
    display: flex;
    align-items: center;
}

#options{
    margin-top: 20px;
}

.option-left{
    margin-right: 10px;
}

.check-option h2{
    font-size: 2.5rem;
}

/* DA RIVEDERE */

.payment-option-layout{
    margin-top: 50px;
    flex-basis: 30%;
    border: 1px solid rgb(220,220,222);
}

.payment-option-layout2{
    padding: 20px;
}

.payment-info{
    line-height: 30px;
    margin: 15px 0;
}

.items-logo{
    text-align: center;
    border-bottom: 1px solid rgb(220,220,222);
}

.items-logo {
    padding: 10px;
}

.payment-info-logo li{
    margin: 10px 0;
}

.button-selection{
    text-align: center;
    margin: 30px 0;
}

.acquista-ora{
    margin: 20px 0;
}

.line-short{
    border: 1px solid rgb(220,220,222);
    width: 15%;
    margin: 20px 0;  
}

.punti-salienti li{
    margin: 30px 0;
}

/* FINE CARDS */



.ufficio-vendite{
    border: 1px solid rgb(220,220,222);
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}

.enterprise-layout{
    padding: 30px;
    flex-basis: 50%;
    border: 1px solid rgb(220,220,222);
}

.enterprise-layout h4{
    padding: 30px 0;
}

.enterprise-layout p{
    padding-top: 40px ;
    line-height: 20px;
}

/* FINE UFFICO VENDITE */


