*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: rgb(180,208,231);
}

main{
    margin-top: 150px;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.nav-bar-container{
    background-color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav li{
    padding: 0 15px;
}

.flex-center{
    display: flex;
    align-items: center;
}

.button-layout{
    padding: 10px 15px;
    background-color: rgb(0,97,255);
    color: white;
    border: none;
    font-size: 1rem;
}

.container-top{
    width: 80%;
    margin: auto;
    margin-top: 71px;
    padding: 30px 30px 0 30px;
    position: relative;
    top: 90px;
}

.container-top h1{
    font-size: 5rem;
}

.img-text{
}

.text-left{
    flex-basis: 25%;
    line-height: 25px;
}

.image-right{
    flex-basis: 75%;
}

.image-right img{
    width: 100%;
}

.text-left button{
    margin: 40px 0;
}

.text-left i{
    font-size: 50px;
    margin-top: 100px;
}
/* FINE HEADER INIZIO MAIN */

.container-center{
    width: 60%;
    margin: auto;
}

input{
    height: 20px;
    width: 20px;
}

.option-movement{
    padding-right: 20px;
}

.option-movement{
    display: flex;
    align-items: center;
}

#options{
    margin-top: 50px;
}

.option-left{
    margin-right: 50px;
}

.check-option h2{
    font-size: 2.5rem;
}

input{
    vertical-align: bottom;
}

.payment-option-layout{
    margin-top: 50px;
    flex-basis: 30%;
    border: 1px solid rgb(220,220,222);
}

.payment-option-layout2{
    padding: 20px;
}

.payment-info{
    line-height: 30px;
    margin: 15px 0;
}

.items-logo{
    text-align: center;
    border-bottom: 1px solid rgb(220,220,222);
}

.items-logo {
    padding: 10px;
}

.payment-info-logo li{
    margin: 30px 0;
    text-indent: -10px;
    padding-left: 1.2em;
}

.acquista-ora span{
    margin: 15px 0;
}

.button-selection{
    text-align: center;
    margin: 30px 0;
}

.acquista-ora{
    margin: 20px 0;
}

.line-short{
    border: 1px solid rgb(220,220,222);
    width: 15%;
    margin: 20px 0;  
}

.punti-salienti li{
    margin: 30px 0;
}

.payment-info div{
    color: rgb(129,136,146);
}

.payment-info h5{
    margin: 10px 0;
}

.card-free-trial{
    width: 100%;
}

.punti-salienti{
    text-indent: -10px;
    padding-left: 1.2em;
}

.fa-check{
    color: rgb(0,99,255);
}
/* FINE CARDS */

.ufficio-vendite{
    border: 1px solid rgb(220,220,222);
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}

.enterprise-layout{
    padding: 30px;
    flex-basis: 50%;
    border: 1px solid rgb(220,220,222);
}

.enterprise-layout h4{
    padding: 30px 0;
}

.enterprise-layout p{
    padding-top: 40px ;
    line-height: 20px;
}

.ufficio-vendite-layout{
    margin-bottom: 70px;
}
/* FINE UFFICO VENDITE */

.img-text{
    align-items: center;
}

.image-partner{
    flex-basis: 60%;
}

.image-partner img{
    width: 100%;
}

.text-partner{
    flex-basis: 30%;
    line-height: 30px;
}

.text-partner p{
    padding: 30px 0;
}

.text-partner button{
    background-color: white;
    border: 1px solid black;
    color: black;
}

/* FINE TROVA PARTNER */

.options-cards{
    padding: 30px 0;
    flex-wrap: wrap;
}

.item-info h3{
    margin: 20px 0;
    font-size: 1.5rem;
}

.image-info{
    flex-basis: 30%;
    padding: 20px;
}

.image-info p{
    line-height: 20px;
}

.image-settings{
    width: 100%;
}

.operations-dropbox-business h2{
    margin-top: 200px ;
    font-size: 2.5rem;
}

/* FINE OPERAZIONI CON DROPBOX BUSINESS */

.link-find-client{
    margin-top: 100px;
}

.link-find-client h2{
    font-size: 2.5rem;
    margin-bottom: 60px;
}

/* INIZIO BOX COLORATI */

.box-colorati-layout{
    margin-top: 150px;
}

.box-left{
    flex-wrap: wrap;
    height: calc(100vw / 3);
}

.box-green{
    background-color: rgb(162,211,155);
    border: 15px solid rgb(209,233,205);
    border-style: inset;
}

.box-purple{
    background-color: rgb(97,8,43);
}

.box-blue{
    background-color: rgb(0,147,206);
}

.box-red{
    background-color: rgb(255,28,28);
}

.box-strong-red{
    background-color: rgb(213,0,31);
}

.box-cian{
    background-color: rgb(180,208,231);
}

.box-strong-blue{
    background-color: rgb(13,36,129);
}

.box-strong-yellow{
    background-color: rgb(255,216,48);
}

.container-box-colorati{
    flex-basis: calc(100vw / 3);
}

.flex-basis{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    height: 50%;
}

.flex-basis img{
    width: 50%;
}

.box-center-container{
    background-color: rgb(245,245,245);
    height: calc(100vw / 3);
    padding: 40px;
}

.center-box img{
    width: 50% ;
    margin-bottom: 30px;
}

.box-center-container p{
    padding: 50px 0;
}

/* FINE BLOCCHI COLORATI */

.blue-section{
    background-color: rgb(180,208,231);
}

.prova-gratuita{
    padding: 150px 0;
}

.image-partner{
    font-size: 2rem;
    color: rgb(97,8,43);
}

/* INIZIO DOMANDE FREQUENTI */

section h2{
    font-size: 40px;
    padding: 20px 0;
    margin-top: 120px;
}

section hr{
    margin: 40px 0;
}

.item-section{
    margin-right: 30px;
}

#hr-final{
    margin-bottom: 50px;
}

/* INIZIO FOOTER */

footer{
    background-color: black;
    margin-top: 120px;
}

.footer-list-layout{
    color: white;
}

.footer-list-container{
    flex-basis: 20%;  
}

.footer-list-container h3{
    padding: 20px 0;
    font-size: 1.5rem;
}

.footer-list-container li{
    padding: 10px 0;
}

footer section{
    margin-bottom: 50px;
}

.padding-type{
    border: 1px solid rgb(153,153,153);
    width: 10%;
    margin-top: 80px;
}

.container-bottom{
    width: 80%;
    margin: auto;
    padding-left: 140px;
    padding-top: 80px;
}

.language-selector{
    color: rgb(153,153,153);
    display: flex;
    padding-bottom: 50px;
}

.language-selector div{
    margin-top: 30px;
}

.fa-earth-americas{
    margin-right: 10px;
}

.fa-caret-up{
    margin-left: 5px;
}